<h1>Welcome to pizza maker:</h1>
<center>
<form method = "post" action = "/sand_results">
<h3> Please select your Size:</h3>
  <p><input  type="checkbox"  value="Small" name= 'size[]'>Small</p>
  <p><input  type="checkbox"  value="Medium" name= 'size[]'>Medium</p>
  <p><input  type="checkbox"  value="Large" name= 'size[]'>Large</p>
<h3> Please select your Crust:</h3>
  <p><input  type="checkbox"  value="Thin" name= 'crust[]'>Thin</p>
  <p><input  type="checkbox"  value="Hand Tossed" name= 'crust[]'>Hand Tossed</p>
  <p><input  type="checkbox"  value="Pan" name= 'crust[]'>Pan</p>
<h3> Please select your Meats:</h3>
  <p><input  type="checkbox"  value="Pepperonni" name= 'meat[]'>Pepperonni</p>
  <p><input  type="checkbox"  value="Sausage" name= 'meat[]'>Sausage</p>
  <p><input  type="checkbox"  value="Bacon" name= 'meat[]'>Bacon</p>
  <p><input  type="checkbox"  value="Shrimp" name= 'meat[]'>Shrimp</p>
  <p><input  type="checkbox"  value="Canadian&nbsp;Bacon" name= 'meat[]'>Canadian&nbsp;Bacon</p>
<h3> Please select your Veggies:</h3>
  <p><input  type="checkbox"  value="Mushroom" name= 'veg[]'>Mushroom</p>
  <p><input  type="checkbox"  value="Olives" name= 'veg[]'>Olives</p>
  <p><input  type="checkbox"  value="Bananna&nbsp;Peppers" name= 'veg[]'>Bananna&nbsp;Peppers</p>
  <p><input  type="checkbox"  value="Onions" name= 'veg[]'>Onions</p>
<h3> Delivery Address:</h3>  
  <p><input type="text" id="addr" name="address" class="require-if-active" data-require-pair="#address-input"></p>



<center><input type='submit'></center>
</form>
</center>
